@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

header {
  padding: 100px 0 100px;
  background:yellow;
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 100px 0;
}

h1 {
  font-size:100px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #85bb65, 20px 20px #000000;
}

h2 {
  font-size: 20px;
}

.btn-lg {
  background-color: #85bb65;
  border: #85bb65;
  box-shadow: 8px 8px #000000;
  border: 1px solid white;
}

.btn-lg:active, .btn-lg:hover {
  background-color: yellow;
  color: #000000;
}

#display {
  display: none;
}

a:link, a:visited {
  color: white;
}